<div [class]="'app-header header-shadow ' + (config$ | async).headerTheme">
  <div class="logo-src"></div>
  <div class="app-header__content">
    <div class="app-header-left">
    </div>
    <div class="app-header-right">
<!--      <app-user-box></app-user-box> -->
      <div *ngIf="token == false">
        <button id="btnLogin" class="btn btn-secondary btnHeader" style="margin-right: 5px;" routerLink="/login">Login</button>
        <button id="btnRegistrati" class="btn btn-secondary btnHeader" routerLink="/registra">Registrati</button>
      </div>
      <div *ngIf="token == true">
        <button id="btnLogout" class="btn btn-secondary btnHeader" style="margin-right: 5px;" (click)="logout()">Logout</button>
        <button id="btnAreaUtente" class="btn btn-secondary btnHeader" routerLink="/areaUtente">Area Utente</button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
            [ngClass]="{'is-active' : globals.toggleSidebarMobile}" (click)="toggleSidebarMobile()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
  </div>
  <div class="app-header__menu">
    <span>
        <button class="btn-icon btn-icon-only btn btn-primary" [ngClass]="{'is-active' : globals.toggleHeaderMobile}" (click)="toggleHeaderMobile()">
            <div class="btn-icon-wrapper">
                <fa name="ellipsis-v"></fa>
            </div>
        </button>
    </span>
  </div>
</div>
