
<h1 class="testo-centrato-titolo">Area Utente</h1>

<div class="main-card mb-3 card">
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="nome">Nome</label>
            <label hidden id="ControlloNome" class="mr-sm-2">Inserire nome</label>
            <input name="nome" id="nome"
                   placeholder="Inserisci un nome" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="email">Email</label>
            <label hidden id="ControlloEmail" class="mr-sm-2">Inserire email</label>
            <input  name="email" id="email"
                   placeholder="inserisci l'email" type="email"
                  class="form-control"></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="password">Password</label>
            <label hidden id="ControlloPassword" class="mr-sm-2">Inserire password</label>
            <input name="password" id="password"
                   placeholder="Inserisci la password" type="password" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="confermaPassword">Conferma Password</label>
            <input name="confermaPassword" id="confermaPassword" placeholder="Conferma la password" type="password"
                  class="form-control"></div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">
          <div class="position-relative form-group">
            <label for="via">Via</label>
            <label hidden id="ControlloVia" class="mr-sm-2">Inserire via</label>
            <input  name="via" id="via"
                   placeholder="Inserisci un via" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="position-relative form-group">
            <label for="civico">Civico</label>
            <label hidden id="ControlloCivico" class="mr-sm-2">Inserire civico</label>
            <input  name="civico" id="civico"
                   placeholder="inserisci il civico" type="text"
                  class="form-control"></div>
        </div>
        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="provincia">Provincia</label>
            <label hidden id="ControlloProvincia" class="mr-sm-2">Inserire provincia</label>
            <input  name="provincia" id="provincia"
                   placeholder="inserisci la provincia" type="text"
                  class="form-control"></div>
        </div>

        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="cap">Cap</label>
            <label hidden id="ControlloCap" class="mr-sm-2">Inserire cap</label>
            <input name="cap" id="cap"
                   placeholder="inserisci la cap" type="text"
                   class="form-control"></div>
        </div>
      </div>

      <button class="mt-2 btn btn-primary" (click)="modificaUtente()">Modifica</button>
    </form>
  </div>


</div>
