.testo-centrato-titolo {
  text-align: center;
  color: #FF530D;
  margin-bottom: 25px;
  font-family: "MaybugMSHandwritten", Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

.btn-update {
  color: black;
  background: #fbff0a linear-gradient(180deg, #fbff0a, #d9dd00) repeat-x;
  border-color: #fbff0acc;
}

.btn-update:active {
  color: black;
  background: #d9dd04 linear-gradient(180deg, #d9dd04, #bfc200) repeat-x;
}

.btn-secondary{
  background: #FF530D linear-gradient(180deg, #FF7B3C, #FF530D) repeat-x;
  color: white;
  border-color: #FF7B3C;
}

.btn-secondary:active{
  background: #d84f00 linear-gradient(180deg, #ee5e0a, #d84f00) repeat-x !important;
  color: white !important;
}