.testo-centrato-titolo {
  text-align: center;
  color: #FF530D;
  margin-bottom: 25px;
  font-family: "MaybugMSHandwritten", Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.testo-Sinistra{
  float:left;
}

.imgPiatto{
  display: inline-block;
  object-fit: contain;
  position: relative;
  margin-top: 5%;
  height: 325px;
}

.divPiatto{
  display: inline-block;
  margin: auto;
  width: 90%;
}

.iconaAllergene{
  width: 50px;
  height: 50px;
}

.iconaAllergene:hover{
  cursor: pointer;
}

.checkboxNone{
  display: none;
}

input[type="checkbox"]:checked + label img{
  filter: grayscale(100%);
}

@media only screen and (max-width: 770px) {
  .imgPiatto{
    height: 150px;
  }

  .iconaAllergene{
    width: 25px;
    height: 25px;
  }
}