<h1 class="testo-centrato-titolo">Menù</h1>

<div>
    <p style="display: inline-block;">Filtro allergeni: </p>&nbsp;
    <label ngbButtonLabel class="btn-primary">
        <input type="checkbox" ngbButton [value]="1" (click)="filtroAllergeni('Crostacei')" hidden>
        <img src="../../../../assets/images/icone/glutine.png" alt="glutine" width="25" height="25">
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input type="checkbox" ngbButton [value]="2" (click)="filtroAllergeni('Glutine')" hidden>
        <img src="../../../../assets/images/icone/crostacei.png" alt="crostacei" width="25" height="25">
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input type="checkbox" ngbButton [value]="4" (click)="filtroAllergeni('Vegetariano')" hidden>
        <img src="../../../../assets/images/icone/pesce.png" alt="pesce" width="25" height="25">
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input type="checkbox" ngbButton [value]="3" (click)="filtroAllergeni('Pesce')" hidden>
        <img src="../../../../assets/images/icone/molluschi.png" alt="molluschi" width="25" height="25">
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input type="checkbox" ngbButton [value]="5" (click)="filtroAllergeni('Surgelati')" hidden>
        <img src="../../../../assets/images/icone/soia.png" alt="soia" width="25" height="25">
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input type="checkbox" ngbButton [value]="5" (click)="filtroAllergeni('Senza-glutine')" hidden>
        <img src="../../../../assets/images/icone/uovo.png" alt="uovo" width="25" height="25">
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input type="checkbox" ngbButton [value]="5" (click)="filtroAllergeni('Senza-glutine')" hidden>
        <img src="../../../../assets/images/icone/sedano.png" alt="verdura" width="25" height="25">
    </label>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="row">
        <div class="col">
            <ul class="navbar-nav mr-auto  mt-lg-0">

                <li class="nav-item">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="1" (click)="filtroTipologie('') ">Menù completo
                        </label>
                    </div>
                </li>

                <li class="nav-item active">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="2" (click)="filtroTipologie('Antipasti') ">Antipasto
                        </label>
                    </div>
                </li>

                <li class="nav-item ">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="3">Primi piatti
                        </label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="4" (click)="filtroTipologie('Nigiri')">Nigiri
                        </label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="5" (click)="filtroTipologie('Hosomaki')">Hosomaki
                        </label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="6" (click)="filtroTipologie('Temaki')">Temaki
                        </label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="7" (click)="filtroTipologie('Sashimi')">Sashimi
                        </label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="8" (click)="filtroTipologie('Dessert')">dessert
                        </label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="tipologie">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="9" (click)="filtroTipologie('Bevande')">Bevande
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>

<div class="row">
    <div class="col-md-3" *ngFor="let piatto of listaPiatti;">
        <div class="main-card mb-3 card">
            <div class="divPiatto">
                <img src="{{piatto.img}}" alt="Card image cap" class="card-img-top imgPiatto">
            </div>

            <div class="col">
                <div class="card-body">
                    <h4 class="card-title"><b>{{piatto.nome}}</b></h4>
                    <h5 class="card-subtitle">
                        Numero: {{piatto.numero}}</h5>
                    <h6>Prezzo: {{piatto.prezzo}}</h6>
                    <p>Allergeni: {{piatto.allergeni}}</p>

                    <button class="btn btn-secondary">Aggiungi al carrello</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
        <label ngbButtonLabel class="btn-primary">
            <input type="checkbox" ngbButton [value]="1" (click)="filtroAllergeni('Crostacei')">
            Crostacei
        </label>
    </li>
    <li>
        <label ngbButtonLabel class="btn-primary">
            <input type="checkbox" ngbButton [value]="2" (click)="filtroAllergeni('Glutine')">
            Glutine
        </label>
    </li>
    <li>
        <label ngbButtonLabel class="btn-primary">
            <input type="checkbox" ngbButton [value]="3" (click)="filtroAllergeni('Pesce')">
            Pesce
        </label>
    </li>
    <li>
        <label ngbButtonLabel class="btn-primary">
            <input type="checkbox" ngbButton [value]="4" (click)="filtroAllergeni('Vegetariano')">
            Vegetariano
        </label>
    </li>
    <li>
        <label ngbButtonLabel class="btn-primary">
            <input type="checkbox" ngbButton [value]="5" (click)="filtroAllergeni('Surgelati')">
            Surgelati
        </label>
    </li>
    <li>
        <label ngbButtonLabel class="btn-primary">
            <input type="checkbox" ngbButton [value]="5" (click)="filtroAllergeni('Senza-glutine')">
            Senza-glutine
        </label>
    </li>
</ul>

-->