.testo-centrato-titolo {
  text-align: center;
  color: #FF530D;
  margin-bottom: 25px;
  font-family: "MaybugMSHandwritten", Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.testo-Sinistra{
  float:left;
}

.imgPiatto{
  display: inline-block;
  object-fit: contain;
  position: relative;
  margin-top: 5%;
  height: 325px;
}

.divPiatto{
  display: inline-block;
  margin: auto;
  width: 90%;
}

.iconaAllergene{
  width: 45px;
  height: 45px;
}

.iconaAllergene:hover{
  cursor: pointer;
}

.checkboxNone{
  display: none;
}

.inline{
  display: inline-block !important;
}

.btn-primary{
  color: #fff !important;
  background: #FF530D linear-gradient(180deg, #FF530D, #FF7B3C) repeat-x !important;
  border-color: #FF7B3C !important;
  margin-right: 5px !important;
}

.active{
  background: #2C2C2C linear-gradient(180deg, #2C2C2C, #585155) repeat-x !important;
  border-color: #585155 !important;
}

.hover{
  background: #000 linear-gradient(180deg, #000, #000) repeat-x !important;
  border-color: #000 !important;
}

input[type="checkbox"]:checked + label img{
  filter: grayscale(100%);
}

.riga{
  align-items: stretch !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  padding: 10px 0px 10px 0px;
}

.elementoRiga {
  margin-left: 10px;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}


@media only screen and (max-width: 770px) {
  .imgPiatto{
    height: 150px;
  }

  .iconaAllergene{
    width: 30px;
    height: 30px;
  }
}