<h1 class="testo-centrato-titolo">Carrello</h1>

<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Ordinazioni:</h5>

    <table class="mb-0 table table-hover">
      <thead class="intestazioneTabella">
        <tr>
          <th>Nome</th>
          <th>Quantità</th>
          <th>Prezzo totale</th>
          <th>Numeretto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let piatto of carrello">
          <td>{{piatto.nome}}</td>
          <td>{{piatto.quantita}}</td>
          <td>{{piatto.prezzo}}</td>
          <td>{{piatto.numeretto}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>