p{
  color: blue;
}

.testo-centrato-titolo {
  text-align: center;
  color: #4facfe;
  margin-bottom: 25px;
}

.testo-Sinistra{
  float:left;
  clear:left;
}

.testo-centrato{
  text-align: center;
}

.testo-destra{
  float:right;
  clear:right;
}

.carosello-home-destra{
  width: 80%;
  margin-top:5%;
  margin-left:10%;

}

.carosello-home-sinistra{
  width: 80%;
  margin-top:56%;
  margin-left:15%;
}

.mapouter{
  margin: 0 auto;
}

#gmap_canvas {
  width: 100%;
  height: 300px;
}

.imgCarosello{
  height: 450px;
}

@media only screen and (max-width: 770px) {
  #gmap_canvas {
    width: 100%;
  }
  
  .imgCarosello{
    height: 300px;
  }

  #caroselloSinistra{
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .imgCarosello{
    height: 200px;
  }
}

@media only screen and (max-width: 525px) {
  .imgCarosello{
    height: 250px;
  }
}