<div class="background">
<h1 class="testo-centrato-titolo">RAGICRI SUSHI</h1>

    <div class="row">
        <div class="col">
            <p>Testo di prova come presentazione
            Testo di prova come presentazione
            Testo di prova come presentazione
            Testo di prova come presentazione
            Testo di prova come presentazione</p>
            <!--Carosello di sinistra   -->
            <ngb-carousel class=" carosello-home-sinistra" *ngIf="listaImmaginiRistorante!=null">
                <ng-template ngbSlide *ngFor="let img of listaImmaginiRistorante;">
                    <img [src]="img" width="100%" alt="Random first slide">
                    <div class="carousel-caption">
                        <h3>Titolo immagine</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="col">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="350" id="gmap_canvas"
                 src="https://maps.google.com/maps?q=Via%20P.%20d'Abano,%2013,%2035031%20Abano%20Terme%20PD&t=k&z=13&ie=UTF8&iwloc=&output=embed" ></iframe>
                <a href="https://123movies-to.org"></a><br>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
                <!--Carosello di destra  -->

            <ngb-carousel  class=" carosello-home-destra" *ngIf="listaImmaginiRistorante!=null">
                <ng-template ngbSlide *ngFor="let img of listaImmaginiRistorante;">
                    <img [src]="img" width="100%" alt="Random first slide">
                    <div class="carousel-caption">
                        <h3>Titolo immagine</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>



