.background {
  background-image: linear-gradient(45deg, #f8a261, #6e9fc9), url("../../../../../assets/images/Sushi2Ridimensionata.jpg");
  background-blend-mode: overlay;
  background-size: contain;
}
p{
  color: blue;
}

.testo-centrato-titolo {
  text-align: center;
  line-height: 100px;
  color: #4facfe;
}
.testo-Sinistra{
  float:left;
  clear:left;
}
.testo-centrato{
  text-align: center;
}
.testo-destra{
  float:right;
  clear:right;
}

.google-maps{
  border:0;
  loading:lazy;
  float:right;
  clear:right;
  height:60%;
  width:100%;
}

.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:100%;
  width:100%;
}
.carosello-home-destra{
  width: 80%;
  margin-top:5%;
  margin-left:10%;

}
.carosello-home-sinistra{
  width: 80%;
  margin-top:56%;
  margin-left:15%;
}
.mapouter{
  position:relative;
  text-align:right;
  height:50%;
  width:100%;
}

