

.errorDati{
    color: red;
}

.erroreInserimento{
    color: red;
    margin-bottom: -100px;
    font-size: 10pt;
}

.modal-title{
    margin-bottom: 8px;
}

.dividerTop {
    margin-top: -10px;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}

.bg-plum-plate{
    height: 100% !important;
}