<div class="h-100 bg-premium-dark">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="logo-src" style="margin: auto "></div>
      <div class="modal-dialog w-100">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title">
              <h4 class="mt-2">
                <div>Benvenuto!</div>
                  <span id="textError">Registrati in <span class="text-success">pochi secondi</span> e crea il tuo account!</span>
              </h4>
            </h5>
            <div class="divider"></div>
            <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_"
              class="form-group">
              <div id="exampleInputGroup12" role="group" class="form-group">

                <div><input id="nome" type="text" placeholder="Inserisci il tuo nome e cognome ..." class="form-control"> </div>
              </div>

              <div><input id="email" type="text" placeholder="Inserisci la mail ..." required="required"
                  aria-required="true" class="form-control" aria-describedby="exampleInputGroup1__BV_description_">
                <small tabindex="-1" id="exampleInputGroup1__BV_description_" class="form-text text-muted">Non
                  condivideremo la tua mail
                  con nessuno.
                </small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="exampleInputGroup2" role="group" class="form-group">
                  <div><input id="via" type="text" placeholder="Inserisci l'indirizzo ..." class="form-control"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div id="exampleInputGroup3" role="group" class="form-group">
                  <div><input id="provincia" type="text" placeholder="Inserisci la provincia..." class="form-control"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="exampleInputGroup2" role="group" class="form-group">
                  <div><input id="cap" type="number" placeholder="Inserisci il CAP ..." class="form-control"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div id="exampleInputGroup3" role="group" class="form-group">
                  <div><input id="civico" type="number" placeholder="Inserisci il numero civico ..." class="form-control"></div>
                </div>
              </div>
            </div>
            <div id="exampleInputGroup12" role="group" class="form-group">
              <div><input id="username" type="text" placeholder="Inserisci l'username..." class="form-control"></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="exampleInputGroup2" role="group" class="form-group">
                  <div><input id="password" type="password" placeholder="Inserisci la password..." class="form-control"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div id="exampleInputGroup3" role="group" class="form-group">
                  <div><input id="ripetiPassword" type="password" placeholder="Ripeti la password..."
                      required="required" aria-required="true" class="form-control"></div>
                </div>
              </div>
            </div>
            <div class="custom-control custom-checkbox"><input id="exampleCheck" type="checkbox" name="check"
                autocomplete="off" class="custom-control-input" value="true"><label for="exampleCheck"
                class="custom-control-label">
                Accetto i <a [routerLink]="">Termini e Condizioni</a>.
              </label></div>
            <div class="divider"></div>
            <h6 class="mb-0">
              Hai già un altro account?
              <a [routerLink]="" class="text-primary" (click)="Login()">Accedi</a>
              <!--|
              <a [routerLink]="" class="text-primary">Recupera password</a>-->
            </h6>
          </div>
          <div class="modal-footer d-block text-center">
            <button type="button" class="btn btn-primary btn-lg" (click)="Registrazione()">Crea account</button>
          </div>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © Ragicri 2021
      </div>
    </div>
  </div>
</div>